body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    color: white;
    text-align: center;
    flex-shrink: 0;
    height: auto;

}
main {
    background-color: #f4f4f4;
    flex-grow: 1;
    overflow-y: auto;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    flex-shrink: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-form {
    display: flex;
    height: 100%;
}
.left {
    width: 35%;
    display: flex;
    flex-direction: column; /* Para que os elementos sejam empilhados verticalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
}
.right {
    width: 65%;
    background-image: url('../Img/back.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área da div */
    background-position: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
background-color: #ddd;
}

li a.active {
color: white;
background-color: #04AA6D;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}